#
# Redirects
#

# BEGIN Rules

# To redirect all users to access the site WITHOUT the 'www.' prefix,
# (http://www.example.com/... will be redirected to http://example.com/...)
RewriteCond %{HTTP_HOST} ^www\.netzaffe\.de$ [NC]
RewriteRule ^(.*)$ https://netzaffe.de/$1 [L,R=301]

# Redirect to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect urls starting with /blog/ (Drupal imported) to jekylls standard url schema,
# eg.: /blog/2009/07/04/drupallinuxtag09-open-source-drupal-linux-und-ballons.html
# -> /2009/07/04/drupallinuxtag09-open-source-drupal-linux-und-ballons.html
RedirectMatch 301 ^/blog/(.*).html$ /$1.html

# Redirect tag urls ending with .html
# /tags/scrum.html -> /tags/scrum/index.html
RedirectMatch 301 ^/tags/([^/]+)\.html$ /tags/$1/index.html

# Redirect Drupal all legacy tag urls to tag page
RedirectMatch 301 ^/taxonomy/term/(.*) /themen.html

# END Rules

# Book pages

Redirect 301 /book/export/html/667 /gnupg-micro-howto.html
RedirectMatch 301 /gnupg-micro-howto/(.*) /gnupg-micro-howto.html

Redirect 301 /book/export/html/978 /git-gitosis-gitweb-the-debian-way.html
RedirectMatch 301 /git-gitosis-gitweb-the-debian-way/(.*) /git-gitosis-gitweb-the-debian-way.html

Redirect 301 /book/export/html/520 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
RedirectMatch 301 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4/(.*) /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html


# misc

Redirect 301 /node/1630 /2014/08/28/facebook-tschoe-mit-oe-mit-oe.html 
Redirect 301 /php-codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren /2016/03/13/php_codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren.html 
Redirect 301 /php-properties-klassenvariablen-doxygen-dokumentieren /2014/10/10/php-properties-klassenvariablen-in-doxygen-dokumentieren.html
Redirect 301 /ein-experiment-drupalcamp-goes-barcamp /2018/03/27/ein-experiment-drupalcamp-ruhr-goes-barcamp.html 
Redirect 301 /scrum-starter-kit /2018/03/03/scrum-starter-kit.html
Redirect 301 /ueberpruefung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren /2015/03/01/ueberprfung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren.html
Redirect 301 /pear-phpunit-composer-und-drupal /2015/02/28/pear-phpunit-de-composer-und-drupal.html
Redirect 301 /blog http://netzaffe.de 
Redirect 301 /blog?page=1 http://netzaffe.de/
Redirect 301 /node?page=1 http://netzaffe.de/
Redirect /blog/2014/11/26/svn-ueber-ssh-unter-linux-username-bei-svn-checkout-angeben.html /2014/11/26/svnssh-unter-linux-username-bei-svn-checkout-angeben.html
Redirect 301 /rss.xml /feed.xml
Redirect /autocompletition-fuer-drush-aktivieren /2013/04/21/autocompletition-fuer-drush-aktivieren.html
# Temporär, Artikel in _draft
Redirect 301 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html /tags/drupal/index.html
Redirect 301 /2010/12/11/arbeit-sparen-mit-cluster-ssh.html /2010/12/10/arbeit-sparen-mit-cluster-ssh.html

# Temp: Umlaute
Redirect 301 /tags/scrumtisch-koeln/index.html /tags/scrumtisch-koln/index.html 
Redirect 301 /tags/duesseldorf/index.html /tags/dusseldorf/index.html
