# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: netzaffe.de
author: "Florian Latzel"
email: florian.latzel@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Über meine Abenteuer im Taka-VUCA-Land. Notizen, Berichte über dies, das, verschiedene Dinge.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com


twitter_username: fl3a
github_username:  fl3a
#drupal_username: fl3a
linkedin_username: florianlatzel
#xing_username:  Florian_Latzel
gnupg_keyid: "0x768146cd269b69d1"

defaults:
  -
    values:
      author: "Florian Latzel"

# Drupal like teaser
show_excerpts : true
excerpt_separator   : "<!--break-->"
read_more : "Weiterlesen"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-toc
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate-v2

# Pagination Settings
# https://github.com/sverrirs/jekyll-paginate-v2
# https://github.com/sverrirs/jekyll-paginate-v2/blob/master/README-GENERATOR.md#site-configuration
pagination:
  enabled: true
  per_page: 10 
  permalink: '/page/:num/'
  limit: 0
  sort_field: 'date'
  sort_reverse: true  

# Plugin: Auto Pages (jekyll-paginate-v2)
autopages:
  enabled      : true
  categories:
    enabled    : false
  collections:
    enabled    : false
  tags:
    enabled    : true
    slugify:
      mode:  latin
      cased: true
    layouts:
      - "home.html"
    title      : ":tag" 
    permalink  : "/tags/:tag"

# jekyll-seo-tag 
# https://github.com/jekyll/jekyll-seo-tag
lang: "de_DE"
social:
  name: Ben Balter
  links:
    - https://twitter.com/fl3a
    - http://de.linkedin.com/in/florianlatzel/en
    - https://github.com/fl3a
    - http://soundcloud.com/florian-latzel
    - http://drupal.org/u/fl3a
    - http://de.slideshare.net/fl3a
    - http://www.xing.com/profile/Florian_Latzel

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
