---
title: Themen
layout: page
permalink: /themen.html
---
<section class="themen">
  <ul class="tags">
    {% for tag in site.tags %}
    <li>
      <a href="#{{ tag[0] | slugify }}" class="tag">{{ tag[0] | escape }} ({{tag[1] | size}})</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tags-list">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] | escape }}</h2>
    <ul>
      {% for post in tag[1] %}
      <li> 
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>
