<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul>
          {% for item in site.data.footer_links.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>

      <div class="footer-col one-half">
        <p>2004 - {{ "now" | date: "%Y" }} Florian Latzel, <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC BY-SA 4.0</a></p>
      </div>

    </div>

  </div>

</footer>
