<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.url contains "/tags/" or page.url contains "/page/" -%}
    {% include paginator_title.liquid %}
    {%- include paginator_meta.liquid -%}
  {%- else -%}
    {%- seo -%}
  {%- endif -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ '/assets/js/lazysizes.min.js'| absolute_url }}"></script> 
  {%- if page.url == "/index.html" and paginator.page == 1 -%}
  <meta property="og:image" content="{{ "/assets/imgs/florian-latzel-reinblau-teamtreffen-2017-05-19-rkr.jpg" | absolute_url }}">
  {%- endif -%}
</head>
