/* Pagination */
ul.pager {
  text-align: center;
  list-style: none;

  li {
    display: inline;
    border: 1px solid $grey-color-light;
    padding: 10px;
    margin: 5px;
  }
}  

/* Tags */
ul.tags {
  list-style: none;
  margin-left: 0;
  line-height: 2em;

  li {
    display: inline;

    a.tag {
      border: 1px solid;
      padding: 3px;
      margin: 1px;
      
      font-size: $small-font-size; 
    }
  } 
}

.post-header {
  margin-bottom: 0;
}

// Show on home and tag pages
.home {  
  ul.tags {
    margin-bottom: 15px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
}
