---
layout: default
---
<div class="home">

  {{ content }}
 
  {%- if page.url == "/index.html" and paginator.page == 1 and site.description  -%}
    <div class="hallo">  
      <figure role="group">
        <img src="/assets/imgs/florian_latzel_mod-hg.png" 
          alt="Florian Latzel, Reinblau Teamtreffen, Mai 2017, Foto © Ronald Krentz" />
       </figure>
       <h2>Hallo!</h2>
       <p>
        {{ site.description }}
       </p>
       <p>
       {%- include social.html -%}
       </p>
    </div>
  {%- endif -%}   
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: page.autopage.display_name | escape | default: "Blog" }}
      <a id="blog" class="anchor" href="#blog" aria-hidden="true">
        <span class="octicon octicon-link"></span>
      </a>
    </h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.tags.size > 0 -%}
          {%- include tags.html -%}
        {%- endif -%}  
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          <p>
            <a class="read-more" href="{{ post.url | relative_url }}">
              {{ site.read_more }}
            </a>
          </p>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Neuere Beiträge</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Ältere Beiträge &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
